# Datasets
data

# Python cache
__pycache__

# Virtual environment
venv

# Prototypes
prototypes

# Trained models
models

# Cache
.mypy-cache

# Editor config
.vscode

IMPORTANTE.md