pyyaml
argparse
typing
opencv-python
pylint
black
black[jupyter]
numpy
matplotlib
mypy
types-PyYAML
pillow
ipykernel
matplotlib
torchensemble
torchinfo
tensorboard
protobuf==3.20.1
torch-tb-profiler
moviepy
onnx
onnxruntime-gpu