pyyaml
argparse
typing
opencv-python # Type checking not working until opencv5, using a type stub for the moment
pylint
black
black[jupyter]
numpy
matplotlib
mypy
types-PyYAML
pillow
ipykernel
matplotlib