---
import Layout from "../layout/main.astro"
import FileDrop from "../components/file-drop.svelte"
---

<Layout>
	<img src="logo.avif" alt="Logo" class="drop-shadow-xl max-w-sm" />
	<h1 class="capitalize text-4xl text-neutral-400 text-center leading-relaxed">
		Drag and drop your video here
	</h1>
	<FileDrop client:load />
</Layout>