---

---

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Sign2Text - ASL Translator</title>
  <link rel="icon" href="favicon.webp" type="image/x-icon" />
</head>

<body class="flex w-full min-h-screen bg-gradient-to-tl from-yellow-400/20 to-fuchsia-500/20">
  <main
    class="flex flex-col items-center justify-center gap-16 md:gap-24 md:flex-row border-[6px] border-dashed border-neutral-600/10 m-8 flex-1 rounded-2xl p-8">
    <slot />
  </main>
</body>

</html>