---

---

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Sign2Text - ASL Translator</title>
  <link rel="icon" href="favicon.webp" type="image/x-icon" />
</head>

<body class="w-full h-screen bg-gradient-to-tl from-yellow-400/20 to-fuchsia-500/20">
  <main class="max-w-2xl mx-auto flex flex-col p-20 gap-20 justify-around items-center">
    <slot />
  </main>
</body>

</html>